body {
    background-image: url("mayur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    font-size: 30px;
    background-color: #f5e9f7;
    font-family: 'Times New Roman', serif;
    /* background: linear-gradient(to bottom, #bfd3e6 0%, #7b7fb9 100%) */


}

#maindiv {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    background-color: #e0dff5;
    box-shadow: -2px 20px 20px 20px #3d3f4057;
    /* border: 2px solid; */
    margin: auto;
    width: 1000px;
    border-radius: 10px;

}

#title {
    display: flex;
    justify-content: space-around;
    text-align: center;
    box-shadow: 1px -4px 20px 0px;
    font-family: 'Brush Script MT', cursive;

}

#add {
    font-size: 21px;
    /* height: 25px; */
    /* margin: 0px 27px auto 9px; */
    border-radius: 7px;
    color: white;
    background-color: #23791c;
}

#login {
    background-color: #1a66df;
    width: 76px;
    height: 48px;
    color: white;
    font-size: 21px;
    /* margin: 0px auto; */
    margin-top: 40px;
    border-radius: 9px;
}
#login:hover {
    background-color: #bdbdd6;
    transition-duration:0.5s;
}

span {
    display: ruby;
}

.inputtask {
    height: 30px;
    /* margin: 45px -97px; */
    border-radius: 10px;
}

.items {
    display: flex;
    justify-content: left;
    margin: 15px;
    height: 96px;
    box-shadow: -5px 1px 12px 0px;
    color: rgba(0, 0, 0, 0.63);
    border-radius: 10px;
    background-color: #c6c8e4;
}
.items:hover {
    background-color: #d1d0ec;
    font-size: px;
}
.delete{
    height: 29px;
    margin-left: 839px;
    margin-top: 36px;
    font-size: 17px;
    position: absolute;
}


#option {
    font-size: 23px;
    height: 34px;
    margin: auto 26px auto 18px;
}